html {
    color: #333333;
    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 60px;
    border: double #333333;
    border-width: 0 0 5px 0;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
}

section {
    padding: 15px 15px 15px 15px;
    
    margin: 20px;
    background-color: cornsilk;
    border-radius: 20px;
}

section > * {
    margin: 12px 12px;
}

a {
    color: #333333;
    text-decoration: none;
}

.form-add-group {
    width: 100%;
    margin: 10px;
}

.form-add-group label {
    align-items: center;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.form-add-group input {
    padding: 10px;
    border: 0;
    border: 1px solid #333333;
    font-family: inherit;
    font-size: 1em;
    width: 60%;
    margin-right: 10px;
}

.form-add-group .button {
    background-color: white;
    padding: 10px;
    border: 0;
    border: 3px outset lightgray;
    font-family: inherit;
    font-size: 1em;
    width: 25%;
}

.form-add-group .button:active {
    border-style: inset;
}