{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{{ header }}
{% endblock %}

{% block content %}

<form method="post">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
        {{ error }}
      </div>
    {% endfor %}
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ button }}">
    </div>
</form>

{% endblock %}
