<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВК РЕПОСТЕР</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>ВК репостер 9000</h1>
        <section class="section-form">
            <h2>Добавить группу или паблик:</h2>
            <form class="form-add-group" action="/add" method="post">
                {% csrf_token %}
                {{ add_group_form }}
                <button class="button-add">Добавить</button>
            </form>
        </section>

        {% if messages %}
        <section class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
        </section>
        {% endif %}

        {% if groups %}
            <section class="section-groups">
                <h2>Уже добавлены:</h2>
                <form class="groups-list">
                    {% for id, group in groups %}
                    <div class="group-line">
                        <input type="checkbox"> id {{ id }}: {{ group }}</input>
                    </div>
                    {% endfor %}
                    <button class="button-delete">Удалить выбранные</button>
                </form>
            </section>
        {% endif %}
    </main>
</body>
</html>
